.css_image {
	background-image: url('https://placeimg.com/1000/1000/nature');
	background-size: cover;
	width: 100%;
	height: 700px;
}

.forest {
	max-width: 100%;
}

footer > ul > li {
	background-color: green;
	display: inline-block;
	list-style: none;
	vertical-align: top;
	padding: 0 50px;
}